<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/main_layout}">

    <head>
        <title>Home</title>
    </head>

    <body>

        <div layout:fragment="content" class="container mt-5">
            <div class="jumbotron text-center">
                <h2>URSystem</h2>
                <p class="my-4 lead">User and task management system</p>
                <p>Version 0.1</p>
                <a class="btn btn-primary my-4 px-4" href="/login">Start</a>
            </div>
        </div>
    </body>

</html>